<button mat-button color="" routerLink="/info" style="float:right; margin-right: 600px;">Volver <mat-icon></mat-icon></button>
<br>
<div style="margin-left: 400px;">
<div class="album py-5 bg-light">
   <div class="container">
     <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3">
       <div class="col">
         <div class="card shadow-sm">
           <div class="card-body">
             <img src="assets/img/cine.jpg" width="375px" height="200px">
             <hr>
               <h4><b>Registro de usuario</b></h4>
             <p class="card-text">Te podrás registrar dentro de nuestro sistema como administrador o suscriptor, al hacer esta acción, tendrás oportunidad de adquirir ofertas, promociones, descuentos y peliculas de una mejor manera.</p>
             <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <button mat-button color="primary" (click)="openModal()" style="float:right; margin-right: 10px;">
                     Click aquí para registrarte <mat-icon>person_add</mat-icon>
                    </button> 
               </div>
  
             </div>
           </div>
         </div>
       </div>
      </div>
     