<br>
<button mat-button color="" routerLink="/suscriptor" style="float:right; margin-right: 600px;">Volver <mat-icon></mat-icon></button>
<br>
<div class="album py-5 bg-light">
    <div class="container">
  
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body">
                <img src="assets/img/encanto.jpeg" width="325px" height="200px">
                <hr>
                <h4><b>Encanto</b></h4>
              <p class="card-text">Una joven colombiana puede ser la última esperanza para su familia, cuando descubre que la magia que rodea a Encanto, un lugar encantado que bendice a los niños con dones únicos, se encuentra en serio peligro.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="https://youtu.be/E4dCY_DvT-4" class="btn btn-sm btn-outline-secondary">Ver película</a>
                </div>
                <small class="text-muted">1h 49mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body">
              <img src="assets/img/cruella.jpeg" width="325px" height="200px">
              <hr>
                <h4><b>Cruella</b></h4>
              <p class="card-text">Decidida a convertirse en una exitosa diseñadora de moda, una joven y creativa estafadora llamada Estella se asocia con un par de ladrones para sobrevivir en las calles de Londres.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="https://youtu.be/oK13SZYZqmA" class="btn btn-sm btn-outline-secondary">Ver película</a>
                </div>
                <small class="text-muted">2h 14mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
              <div class="card-body">
               <img src="assets/img/spiderman.jpg" width="325px" height="200px">
               <hr>
                <h4><b>Spiderman</b></h4>
              <p class="card-text">Tras descubrirse la identidad secreta de Peter Parker como Spider-Man, se vuelve una locura. Peter decide pedirle ayuda al Doctor Extraño para recuperar su vida. Pero algo sale mal y provoca una fractura en el multiverso.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="https://youtu.be/6QkTCmhOzuA" class="btn btn-sm btn-outline-secondary">Ver película</a>
                </div>
                <small class="text-muted">2h 28mins</small>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col">
          <div class="card shadow-sm">
           <div class="card-body">
              <img src="assets/img/eternals.jpg" width="325px" height="200px">
              <hr>
                <h4><b>Eternals</b></h4>
              <p class="card-text">Los Eternos son una raza de seres inmortales con poderes sobrehumanos que han vivido en secreto en la Tierra durante miles de años. Aunque nunca han intervenido en el destino de la población, ahora una amenaza se cierne sobre la humanidad.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="https://youtu.be/E4dCY_DvT-4" class="btn btn-sm btn-outline-secondary">Ver película</a>
                </div>
                <small class="text-muted">2h 37mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
           <div class="card-body">
              <img src="assets/img/venom.jpg" width="325px" height="200px">
              <hr>
                <h4><b>Venom</b></h4>
              <p class="card-text">El periodista Eddie Brock intenta desenmascarar al genio científico Carlton Drake, el célebre fundador de la Fundación Vida.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="https://youtu.be/E4dCY_DvT-4" class="btn btn-sm btn-outline-secondary">Ver película</a>
                </div>
                <small class="text-muted">2h 20mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
           <div class="card-body">
              <img src="assets/img/transilvania.jpg" width="325px" height="200px">
              <hr>
                <h4><b>Hotel transilvania</b></h4>
              <p class="card-text">El nuevo y misterioso invento de Van Helsing transforma a Drac y sus amigos en humanos, y a Johnny en un monstruo. Con sus nuevos cuerpos, Drac y la manada deben encontrar la manera de revertirlo antes de que se se vuelva permanente.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="https://youtu.be/E4dCY_DvT-4" class="btn btn-sm btn-outline-secondary">Ver película</a>
                </div>
                <small class="text-muted">1h 27mins</small>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col">
          <div class="card shadow-sm">
        <div class="card-body">
          <img src="assets/img/soul.jpg" width="325px" height="200px">
          <hr>
                <h4><b>Soul</b></h4>
              <p class="card-text">Un profesor de música que ha perdido la pasión se transporta fuera de su cuerpo al "Gran Antes" y debe encontrar el camino de regreso con la ayuda de un alma infantil que aprende sobre sí misma.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="https://youtu.be/3QIdlo4uIVg" class="btn btn-sm btn-outline-secondary">Ver película</a>
                </div>
                <small class="text-muted">1h 40mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
           <div class="card-body">
              <img src="assets/img/rapidosyfuriosos.jpg" width="325px" height="200px">
              <hr>
                <h4><b>Rápidos y furiosos</b></h4>
              <p class="card-text">Dom Toretto vive una vida tranquila, pero el peligro siempre regresa a su vida. En esta ocasión, el equipo se enfrenta a un complot mundial orquestado por el asesino más temible del mundo: el hermano de Dom.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="https://youtu.be/E4dCY_DvT-4" class="btn btn-sm btn-outline-secondary">Ver película</a>
                </div>
                <small class="text-muted">2h 25mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
          <div class="card-body">
              <img src="assets/img/gvsk.jpg" width="325px" height="200px">
              <hr>
                <h4><b>Godzilla vs Kong</b></h4>
              <p class="card-text">Godzilla y Kong, dos de las fuerzas más poderosas de un planeta habitado por aterradoras criaturas, se enfrentan en un espectacular combate que sacude los cimientos de la humanidad.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="https://youtu.be/E4dCY_DvT-4" class="btn btn-sm btn-outline-secondary">Ver película</a>
                </div>
                <small class="text-muted">2h 52mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>