<br>
   
<mat-form-field appearance="outline">
  <mat-label>🔎 Buscar película</mat-label>
  <input matInput (keyup)="filtrar($event)" placeholder="Buscar" #input>
  
</mat-form-field>
 
<button mat-button color="" routerLink="/cine" style="float:right; margin-right: 600px;">Volver <mat-icon></mat-icon></button>



<div  id="tabla">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  
  <ng-container matColumnDef="idPelicula">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.idPelicula}} </td>
  </ng-container>

 
  <ng-container matColumnDef="titulo">
    <th mat-header-cell *matHeaderCellDef> Título </th>
    <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
  </ng-container>

  
  <ng-container matColumnDef="categoria">
    <th mat-header-cell *matHeaderCellDef> Categoría</th>
    <td mat-cell *matCellDef="let element"> {{element.categoria.nombreCategoria}} </td>
  </ng-container>

  
  <ng-container matColumnDef="descripcion">
    <th mat-header-cell *matHeaderCellDef> Descripción </th>
    <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
  </ng-container>

 
   <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef> Fecha </th>
      <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
    </ng-container>


  <ng-container matColumnDef="director">
      <th mat-header-cell *matHeaderCellDef> Director </th>
      <td mat-cell *matCellDef="let element"> {{element.director.nombreDirector}} </td>
    </ng-container>

    <ng-container matColumnDef="actor">
        <th mat-header-cell *matHeaderCellDef> Protagonista </th>
        <td mat-cell *matCellDef="let element"> {{element.actor.nombreActor}} </td>
      </ng-container>

      
    <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
      </ng-container>

     
    <ng-container matColumnDef="editar-eliminar">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let row"> 
          <button mat-button color="primary" (click)="openModal(row)">
             <mat-icon>edit</mat-icon>
          </button>
           <button mat-button color="accent" (click)="onDelete(row.idPelicula)">
             <mat-icon>delete</mat-icon>
          </button>
          
      </td>
    </ng-container>
    
    
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>


</div>

