<style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>


<body>
  
<header>
<div class="collapse bg-dark" id="navbarHeader">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-7 py-4">
        <h4 class="text-white">About</h4>
        <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
      </div>
      <div class="col-sm-4 offset-md-1 py-4">
        <h4 class="text-white">Contact</h4>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Follow on Twitter</a></li>
          <li><a href="#" class="text-white">Like on Facebook</a></li>
          <li><a href="#" class="text-white">Email me</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="navbar navbar-dark bg-dark shadow-sm">
  <div class="container">

        <a>
        <button class="btn btn-outline-light" routerLink="/info" type="submit">Cerrar sesión</button>
        </a>
  </div>
</div>
</header>
<div style="margin-left: 0px;">
  <div class="album py-5 bg-light">
     <div class="container">
       <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
         <div class="col">
           <div class="card shadow-sm">
             <div class="card-body">
               <img src="assets/img/usuario.PNG" width="325px" height="200px">
               <hr>
                 <h4><b>Mantenimiento usuarios y cines</b></h4>
               <p class="card-text"></p>
               <div class="d-flex justify-content-between align-items-center">
                 <div class="btn-group">
                    <button mat-button color="primary" style="float:right; margin-right: 10px;" routerLink="/usuadmin">
                       Click aquí <mat-icon>add</mat-icon>
                      </button> 
                 </div>
               </div>
             </div>
           </div>
         </div>
         <div class="col">
          <div class="card shadow-sm">
            <div class="card-body">
              <img src="assets/img/peliculasadmin.jpg" width="325px" height="200px">
              <hr>
                <h4><b>Mantenimiento peliculas</b></h4>
              <p class="card-text"></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                   <button mat-button color="primary" style="float:right; margin-right: 10px;" routerLink="/padmin">
                      Click aquí <mat-icon>add</mat-icon>
                     </button> 
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body">
              <img src="assets/img/director.PNG" width="325px" height="200px">
              <hr>
                <h4><b>Mantenimiento directores</b></h4>
              <p class="card-text"></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                   <button mat-button color="primary" style="float:right; margin-right: 10px;" routerLink="/director">
                      Click aquí <mat-icon>add</mat-icon>
                     </button> 
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body">
              <img src="assets/img/categoria.PNG" width="325px" height="200px">
              <hr>
                <h4><b>Mantenimiento categorías</b></h4>
              <p class="card-text"></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                   <button mat-button color="primary" style="float:right; margin-right: 10px;" routerLink="/categoria">
                      Click aquí <mat-icon>add</mat-icon>
                     </button> 
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body">
              <img src="assets/img/actores.PNG" width="325px" height="200px">
              <hr>
                <h4><b>Mantenimiento actores</b></h4>
              <p class="card-text"></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                   <button mat-button color="primary" style="float:right; margin-right: 10px;" routerLink="/actor">
                      Click aquí <mat-icon>add</mat-icon>
                     </button> 
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body">
              <img src="assets/img/cine.jpg" width="325px" height="200px">
              <hr>
                <h4><b>Ver peliculas</b></h4>
              <p class="card-text"></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                   <button mat-button color="primary" style="float:right; margin-right: 10px;" routerLink="/peliadmin">
                      Click aquí <mat-icon>movie</mat-icon>
                     </button> 
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>



